---
layout: default
title: Staff
---

<div class="row">
  {% for person in site.staff %}
    <div class="col-md-4 text-center">
      {% if person.picture %}
        {% assign picture = person.picture %}
      {% else %}
        {% assign picture = "assets/img/profile-placeholder.jpg" %}
      {% endif %}
      <div style='margin: auto; border-radius: 250px;width: 200px;height: 200px;background-image: url("{{ picture }}");background-size: cover;background-position: center;'></div>
      <h3>{{ person.name }}</h3>
      <h6>{{ person.title }}</h6>
      <p>
        <a href="mailto:{{ person.email }}">{{ person.email }}</a>
        <br />
        {% if person.room %}
          Rm. {{ person.room }}
        {% endif %}
        {% if person.phone %}
          | <a href="tel:{{ person.phone }}">{{ person.phone }}</a>
        {% endif %}
      </p>
    </div>
    {% assign remainder = forloop.index | modulo: 3 | minus: 1 %}
    {% if remainder == 2 %}
</div>
<div class="row">
    {% endif %}
  {% endfor %}
</div>
