---
layout: default
title: Staff
---

{% for student in site.students %}
<div class="row">
  <div class="card" style="margin-left: 1em; margin-right: 1em; margin-bottom: 1em;">
    <div class="card-body">
      <div class="container">
        <div class="row">
        <div class="col-md-3">
          {% if student.image %}
            {% assign image = student.image %}
          {% else %}
            {% assign image = "profile-placeholder.jpg" %}
          {% endif %}
          <div style="border-radius: 250px; width: 200px; height: 200px; background-image: url('assets/img/{{ image }}'); background-size: cover; background-position: center;"></div>
        </div>
        <div class="col-md-9">
          <div class="card-text">
            <h4>{{ student.name }}</h4>
            <h5>{{ student.majors }}</h5>
            <h5>{{ student.position }}</h5>
            <p>{{ student.content }}</p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
