<div class="d-lg-flex justify-content-lg-center align-items-lg-center" style="width: 100%; background-color: #8b2832; color: rgb(255, 255, 255); margin-top: 3em;">
  <div class="container" style="padding-top: 20px; padding-bottom: 20px">
    <div class="row" style="width: 100%">
      <div class="col d-lg-flex justify-content-lg-center">
        <p style="margin-bottom: 0px">
          © 2000-{{ site.time | date: '%Y' }} University of Massachusetts Amherst • <a href="{{ site.site_policies_link }}" style="color: white">Site Policies</a> • <a href="mailto:{{ site.webmaster_email }}" style="color: white">Site Contact</a>
          <br />
        </p>
      </div>
    </div>
  </div>
</div>
