<nav class="navbar navbar-light navbar-expand-lg d-lg-flex navigation-clean">

  <!-- LRC icon and text, on far right -->
  <a class="navbar-brand" id="main-title" href="/" style="font-weight: 500; font-family: Adamina, serif;">
    <img src="assets/img/intro-pic.png" style="width: 2em; padding-right: 3%" />
    <strong>LRC</strong>
  </a>

  <!-- Hamburger menu that appears on mobile devices only -->
  <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
    <span class="sr-only">Toggle navigation</span>
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- The remainder of the navbar, on the right-hand side -->
  <div class="collapse navbar-collapse" id="navcol-1">
    <ul class="nav navbar-nav ml-auto">
      {% for link in site.navbar_links %}
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="{{ link.link }}">
            {{ link.name }}
          </a>
        </li>
      {% endfor %}

      <!-- Dropdown section -->
      <li class="nav-item dropdown">
        <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">{{ site.navbar_dropdown_title }}</a>
        <div class="dropdown-menu" role="menu">
          {% for link in site.navbar_dropdown_links %}
            <a class="dropdown-item" role="presentation" href="{{ link.link }}">{{ link.name }}</a>
          {% endfor %}
        </div>
      </li>

    </ul>
  </div>
</nav>
