<div style="background-color: #8b2832; width: 100%; height: 2.5em">
  <div class="container" style="height: 100%">
    <div class="row" style="height: 100%; color: rgb(255, 255, 255)">
      <div class="col text-left d-flex d-lg-flex justify-content-start align-items-center">
        <a href="https://www.umass.edu" style="text-decoration: none; color: white">
          <h5 style="color: rgb(255, 255, 255); font-family: Adamina, serif; margin: 8px;">
            UMassAmherst
          </h5>
        </a>
      </div>
      <div
        class="col d-flex d-lg-flex justify-content-end align-items-center justify-content-lg-end align-items-lg-center">
        <h5 style="margin: 8px">
          <a href="https://www.umass.edu/search" style="text-decoration: none; color: white">
            <i class="icon-magnifier"></i>
          </a>
        </h5>
      </div>
    </div>
  </div>
</div>
